<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tourradar.Tests.NavigationSectionTest"/>
      <class name="com.tourradar.Tests.SortSectionTest"/>
      <class name="com.tourradar.Tests.FooterSectionTest"/>
      <class name="com.tourradar.Tests.ContentSectionTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
